.nono-product-item {

 .col-left {
  min-width: 116px;
 }
 .col-60 {
  padding-left: 16px!important;
  border-left: 1px solid #e0e0e0;
 }

 .suffix {
  border: 1px solid $energized;
  border-radius: 2px;
 }

}
